In [2]:
dataset = [['Milk','Onion','Nutmeg','Kidney Beans','Eggs','Yogurt'],
['Dill','Onion','Nutmeg','Kidney Beans','Eggs','Yogurt'],
['Milk','Apple','Kidney Beans','Eggs'],
['Milk','Unicorn','Corn','Kidney Beans','Yogurt'],
['Corn','Onion','Onion','Kidney Beans','Ice cream','Eggs']]
print(dataset)

[['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'], ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'], ['Milk', 'Apple', 'Kidney Beans', 'Eggs'], ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'], ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [3]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [5]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)

In [6]:
df = pd.DataFrame(te_ary,columns=te.columns_)
df

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [7]:
from mlxtend.frequent_patterns import apriori
frequent_itemsets = apriori(df,use_colnames=True,min_support=0.6)
frequent_itemsets

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Kidney Beans, Eggs)
6       0.6                (Onion, Eggs)
7       0.6         (Kidney Beans, Milk)
8       0.6        (Onion, Kidney Beans)
9       0.6       (Yogurt, Kidney Beans)
10      0.6  (Onion, Kidney Beans, Eggs)

In [8]:
from mlxtend.frequent_patterns import association_rules
res = association_rules(frequent_itemsets,metric='support',min_threshold=0.7)
res

/home/smayan/Desktop/AI-ML-DS/AI-and-ML-Course/.conda/lib/python3.11/site-packages/mlxtend/frequent_patterns/association_rules.py:186: RuntimeWarning: invalid value encountered in divide
  cert_metric = np.where(certainty_denom == 0, 0, certainty_num / certainty_denom)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.8,1.0,1.0,0.0,1.0,0.0,0.8,0.0,0.9
1,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.0,1.0,1.0,0.0,inf,0.0,0.8,0.0,0.9

In [9]:
res1 = res[['antecedents','consequents','support','confidence','lift']]
res1

      antecedents     consequents  support  confidence  lift
0  (Kidney Beans)          (Eggs)      0.8         0.8   1.0
1          (Eggs)  (Kidney Beans)      0.8         1.0   1.0

In [10]:
res1[res1['confidence'] >= 1]

  antecedents     consequents  support  confidence  lift
1      (Eggs)  (Kidney Beans)      0.8         1.0   1.0